@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
  display : none;
} 

/* body {
  overflow-y: hidden;
} */

/* *{
  outline: 1px solid red;
} */

html {
  scrollbar-width: none;
}

/* body {
  background-color: "#222222";
} */

